*{
    margin: 0 ;
    Padding: 0;
    font-family: "Roboto", sans-serif;

}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.header {
    min-height: 100vh;
    width:100% ;
    background-image: linear-gradient(to right, #7D9EFB, #86DAFB);
}

nav{
    display: flex;
    padding: 2% 6%;
    align-items:center;
    justify-content: space-between;
}
nav h3{
    color:#fff;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
  list-style: none;
  display:inline-block;
  padding: 8px 12px;
  position: relative;

}
.nav-links ul li a{
color:#fff;
text-decoration: none;
font-size: 12px;
}

.nav-links ul li ::after{
content: '';
width:0%;
height:2px;
display: block;
margin: auto;
background: blueviolet;
transition: 0.6s;
}

.nav-links ul li :hover::after
{
  width: 100%;
}

  nav .fa{
      display: none;
}


.profile-conatiner
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid white;
    border-radius: 8px;
    width:90%;
    height: 110vh;
    position:absolute;
    background-color: white;
    margin: 10vh 0px 0px 10vh;
    z-index: 1;
    box-shadow: 0px 0px 60px 0px rgb(43, 42, 42);
}
.profile-conatiner h1{
  font-weight: 600;
}
.profileimg-item img
{
    flex-basis: 50%;
    width: 550px;
    height: 550px;
    background-color: white;
    border: 3px solid white;
    border-radius: 8px;
    align-items: center;
    padding:40px;
}
.profileitem div{
    margin:30px;
    padding:2px;
}
.profileitem
{
    flex-basis: 30%;
    align-items: center;
}

.profileitem h5{
    margin-top: 15vh;
}

.profileitem h1{
    margin-top: 3vh;
    font-size: 30px;
}

.profileitem h6{
    margin: 15px 0px 20px 0px;
    font-size: 15px;
}

.profileitem p{
    line-height: 1.5;
}

.profileitem i{
    margin-top: 20px;
}

.profileitem .fa p{
    margin: -3vh 0px 0px 6vh;
}

.fa-facebook{
    margin-right: 10px;
}

.fa-globe{
    margin-left: 10px;
}

.progress-container {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
    margin:2%;
}
.aboutme-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: relative;
    height: 100vh;
}
.about-des{
    flex-basis: 40%;
    padding-left: 6%;
    padding-top: 20%;
}
.about-des p{
    font-size: 16px;
    line-height: 22px;
    padding: 1px;
    color:gray;
    text-align: left;
}
.itemslist{
    display: flex;
    flex-wrap: wrap;
}
.about-items
{
    margin: 20px 20px 20px 0px;
    border: 1px solid whitesmoke;
    width: 20%;
    padding: 20px;
    justify-content: space-around;


}
.flex-item{
    width:100%;
    flex-basis: 40%;
    padding: auto;
    padding-top: 20%;

}
.flex-item div {
  align-items: center;
}
.skill {

    background-image: linear-gradient(to right, #7D9EFB, #86DAFB);
    color: white;
    padding: 0px;
    text-align: right;
    font-size: 14px;
    border-radius: 15px;
}

.aftereffetcs{
    width: 85%;
}
.Photoshop{
    width: 90%;
}
.Illustator{
    width: 70%;
}
.Sublime{
    width: 95%;
}
.Sketch{
    width: 75%;
}

/*Client Reviews*/

  .clients{
    text-align: center;
    margin:auto;
    padding-top: 100px;
    width: 100%;
    background-color:#FAF9F6;

}

.clients h1{
    font-size: 30px;
    font-weight: 600;
}
.clients p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color:gray;

}
.client-row{
    margin-top: 5%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: start;

}
.client-col{
    flex-basis: 25%;
    border-radius: 10px;
    margin-bottom: 5%;
    background: white;
    padding: 25px 25px;
    box-sizing: border-box;
}
.client-col h3{
    margin-top: 8%;
    margin-bottom: 8%;
}
.client-col p {
    padding: 0;
}
.client-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.pro-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.footeraboutme-item p{
    color: gray;
    padding:2%;
}

.featured-products
{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;

}
.featured-products h1{
    font-size: 30px;
    font-weight: 600;
}
.featured-products p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color:gray;
    text-align: center;

}
.product-nav{
    display: flex;
    justify-content: center;
    font-size: 12px;
    gap: 30px;
    margin-top: 4%;
    margin-bottom: 2%;
    font-weight: bold;
}
.pro-col img{
    width:100%;
}
.pro-col{
    transition: 0.5s;
    flex-basis: 25%;
    margin: 20px 20px 20px 60px;
}
.pro-col:hover{
    box-shadow: 0 0 20px 0px yellow;
}

.button {
    color: white;
    border: none;
    background-image: linear-gradient(to right, DodgerBlue	, LightBlue);
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 44%;
    margin-bottom: 5%;
}

.button:hover{
    border: 1px solid blueviolet;
    color: blue;
    transition: 1s;
}
.nav-pro{
    display: flex;
}
/*testmonial*/
.testmonial{
    background-color: #F9F9FF;
}
.testdes{
    text-align: center;
    padding-top: 10%;

}
.testdes p{
    padding-top: 2%;
    color: gray;
}
.reviewsdiv{
    display: flex;
    padding: 1% 0px;
    background-color: #F9F9FF;
}
.reviews
{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    margin:5% 5%;
    padding: 2%;

}
.reviews p{
    text-align: left;
}
/*Footer*/
.footer{
    display: flex;
    background-color: black;
    justify-content: center;
    flex-wrap: wrap;
    height: 70vh;
}
.footeritems{
    flex-basis: 25%;
    color: white;
    width: 100%;
    margin-top: 20vh;
    margin-left: 15vh;
}
.footeritems h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.footeritems p{
   color: gray;
   margin-bottom: 40px;
}
.followmeitem{
    display: flex;
}

.fotteremail1{
    display: flex;
    flex-direction: row;
    border:1px solid blue;
    justify-content: space-evenly;
    background-color: black;
}

.footernewsletter-item input{
    width:20em;
    height:25px;
    background-color: black;
    color: white;
    border: 1px solid lightblue;
}

.footernewsletter-item button{
    width:30px;
    height: 30px;
    margin-left: -4px;
    margin-top: 0px;
    background-image: linear-gradient(to right, DodgerBlue	, LightBlue);
}

.fa-behance{
    margin-left: 20px;
}


@media(max-width:768px){

.aboutdes,.flextitem,.client-col,.pro-col,.pro2-col {
    flex-basis: 100%;
}

.profileimg-item{
    flex-basis: 100%;
}

.profileimg-item img{
    width:400px;
    height:400px;
}

.profileitem{
    flex-basis: 100%;
    padding-left: 50px;
    margin-top: -10em;
}

.profile-conatiner{
    height: 200vh;
    width: 100%;
    margin-left: 0px;
}
.flextitem{
    margin: 5%;
}

.aboutme-container{
    margin-top: 120vh;
}
}

@media(max-width:1440px)
{
    .client-row
    {
       
    }
}

@media(max-width: 425px){
    nav .fa{
        display: block;
        color:white;
        margin:10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        display: none;
    }


.header {
    background-image: none;
    background-color: white;
}
.header nav {
    background-color: black;
}

.profileimg-item
{
    flex-basis: 100%;

}

.profileimg-item img {
    height: 100%;
    width: 100%
}
.profileitem{
    flex-basis: 100%;
}

.aboutdes, .about-items, .flextitem,.client-col{
    flex-basis: 100%;
}

.client-col {
    margin-top: 2%;
    margin-left: 0%;
    margin-right: 0%;
}

.featured-products h1 {
    font-size: 1rem;
}

.featured-products p {
    font-size: 0.65rem;
}

.product-nav {
    gap: 10px;
}

.pro-col,.pro2-col {
    flex-basis: 100%;
}

.pro-col img, .pro2-col img {
    margin-top: 10px;
}


.flextitem {
    margin-left: 5%;
}


     .reviewsdiv {
        flex-direction: column;
        padding: 4%;
        margin-right: 2px;
     }

     .footer{
         flex-direction: column;
     }
     .footeritems {
        padding:2% 5%
    }

    .button {
        margin-left: 25%;
    }


    .testdes p{
        text-align: justify;
        margin: 5%;
    }
    .reviews
    {
        margin:5px 5px 5px 0px;
        padding: 2%;

    }
    .reviews p{
        text-align: left;
    }
}



